body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculadora {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 350px;
}

.operadores {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

#operador1, #operador2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    transform: translateY(2px);
}

h1{
    text-align: center;
}